* {
  color: white;
}
a {
  text-decoration: none;
}
.logo {
  float: left;
}
.logo img {
  width: 10rem;
}
.nav {
  text-align: right;
  padding: 1.5rem;
  text-transform: uppercase;
}
.nav-opt {
  padding: 0.5rem;
  margin-top: 0.5rem;
  font-size: small;
  /* font-family: Lato; */
}
.nav-opt.active {
  border: 2px solid #f77e0b;
  border-radius: 100px;
}
.main {
  width: 30%;
}
.banner {
  background-image: url("./banner.png");
  height: 80vh;
  padding: 1rem 11rem;
  background-size: cover;
}
.orange-color {
  color: #f77e0b;
}
.btns {
  background: transparent linear-gradient(166deg, #ff8000 0%, #ca3726 100%) 0%
    0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 100px;
  border: 0;
  padding: 0.5rem 1rem;
}
.right-arrow {
    width: 0.7rem;
}